.page-hero {

  & > div {
    min-height: 20vh;
    @media (min-width: 768px) {
      min-height: 30vh;
    }
  }

  h1 {
    margin-top: 60px;
  }
}

.page-hero-thank-you {
  & > div {
    min-height: 75vh;
  }
}
