@mixin heading-font {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

@mixin body-font {
  font-family: 'Lato';
}

@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
