body {
  font-size: 1.25rem;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
  @media (min-width: 992px) {
    font-size: 2rem;

  }
  @media (min-width: 1200px) {
    font-size: 2rem;
  }
}

h1 {
  font-size: 2rem;

  @media (min-width: 768px) {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    font-size: 2.5rem;
  }
  @media (min-width: 1200px) {
    font-size: 2.5rem;
  }
}
