.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:220px;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

@media (min-width: 576px) {
  .video-responsive{
    height:345px;
  }
}
