body {
  font-family: 'Lato'; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important; }

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem; }

.bg-black {
  background-color: #000 !important; }

.rounded-pill {
  border-radius: 5rem; }

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.7); }
  .navbar-custom svg {
    color: rgba(255, 255, 255, 0.5); }
  .navbar-custom .navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700; }
  .navbar-custom .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem; }

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../assets/img/main-big.png");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px; }
  header.masthead h1 {
    font-size: 2rem; }
  header.masthead p {
    font-weight: 300; }
  header.masthead .text-bg {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5); }
  @media (min-width: 768px) {
    header.masthead p {
      font-size: 1.15rem; } }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0; }
      header.masthead h1 {
        font-size: 3rem; } }
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 4rem; } }

.bg-primary {
  background-color: #c20d18 !important; }

.btn-primary {
  background-color: #c20d18;
  border-color: #c20d18; }
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #920a12 !important;
    border-color: #920a12 !important; }
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(194, 13, 24, 0.5); }

.btn-secondary {
  background-color: #5367b0;
  border-color: #5367b0; }
  .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    background-color: #41528f !important;
    border-color: #41528f !important; }
  .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(83, 103, 176, 0.5); }
