body {
  font-family: 'Hi Melody', cursive;
  font-size: 1.25rem; }
  @media (min-width: 768px) {
    body {
      font-size: 2rem; } }
  @media (min-width: 992px) {
    body {
      font-size: 2rem; } }
  @media (min-width: 1200px) {
    body {
      font-size: 2rem; } }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
  font-weight: 800 !important; }

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-weight: 700;
  letter-spacing: 0.1rem; }

.bg-black {
  background-color: #000 !important; }

.rounded-pill {
  border-radius: 5rem; }

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.7); }
  .navbar-custom svg {
    color: rgba(255, 255, 255, 0.5); }
  .navbar-custom .pointer {
    cursor: pointer; }
    @media (min-width: 992px) {
      .navbar-custom .pointer {
        margin: 10px; } }
  .navbar-custom .nav-logo {
    height: 35px; }
    .navbar-custom .nav-logo svg {
      vertical-align: top;
      height: 40px;
      width: 65px; }
    @media (min-width: 768px) {
      .navbar-custom .nav-logo {
        height: 60px; }
        .navbar-custom .nav-logo svg {
          height: 65px;
          width: 120px; } }
  .navbar-custom .navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 700; }
    @media (min-width: 768px) {
      .navbar-custom .navbar-brand {
        font-size: 2rem; } }
  .navbar-custom .navbar-nav .nav-item .nav-link {
    font-weight: 700;
    letter-spacing: 0.1rem; }

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/img/main-media.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px; }
  header.masthead h1 {
    font-size: 2rem; }
  header.masthead h2 {
    font-size: 1rem; }
  header.masthead p {
    font-weight: 300; }
  header.masthead .text-bg {
    padding: 30px; }
  @media (min-width: 576px) {
    header.masthead {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/img/main-media.jpg"); } }
  @media (min-width: 768px) {
    header.masthead p {
      font-size: 1.15rem; } }
  @media (min-width: 992px) {
    header.masthead {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/img/main-big.jpg");
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0; }
      header.masthead h1 {
        font-size: 3rem; }
      header.masthead h2 {
        font-size: 2rem; } }
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 4rem; } }

.bg-primary {
  background-color: #c20d18 !important; }

.btn-primary {
  background-color: #c20d18;
  border-color: #c20d18; }
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #920a12 !important;
    border-color: #920a12 !important; }
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(194, 13, 24, 0.5); }

.btn-secondary {
  background-color: #5367b0;
  border-color: #5367b0; }
  .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    background-color: #41528f !important;
    border-color: #41528f !important; }
  .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(83, 103, 176, 0.5); }

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 220px; }

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

@media (min-width: 576px) {
  .video-responsive {
    height: 345px; } }

body {
  font-size: 1.25rem; }
  @media (min-width: 768px) {
    body {
      font-size: 2rem; } }
  @media (min-width: 992px) {
    body {
      font-size: 2rem; } }
  @media (min-width: 1200px) {
    body {
      font-size: 2rem; } }

h1 {
  font-size: 2rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.25rem; } }
  @media (min-width: 992px) {
    h1 {
      font-size: 2.5rem; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 2.5rem; } }

.page-hero {
  margin-bottom: 20px; }
  .page-hero > div {
    min-height: 20vh; }
    @media (min-width: 768px) {
      .page-hero > div {
        min-height: 30vh; } }
  .page-hero h1 {
    margin-top: 60px; }

.page-hero-thank-you > div {
  min-height: 75vh; }

.free-delivery {
  text-align: right;
  width: 100%;
  text-transform: uppercase;
  color: red;
  padding-right: 10px; }
